body {
    background-color: #9966FF; /* Cor de fundo da página */
    font-family: 'Arial', sans-serif; /* Fonte padrão */
}

h1 {
    text-align: center;
    color:#9933FF;
    text-shadow: 2px 2px 4px #aaa; /* Sombra no texto */
}

p {
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
    color: #9900CC;
    text-shadow: 2px 2px 4px #bbb; /* Sombra no texto */
}
